@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.body-home, .body-login{
    background: url('https://i.pinimg.com/564x/08/bd/ea/08bdea82915344380124f1076ce12da7.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.black-fill{
    background: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
}
.ico{
    font-size: 70px;
}
#homeNav{
    width: 100%;
    height: 60px;
    background-color: rgb(240, 231, 64);

}
.btn-outline-primary{
    width: 280px;
    font-size: 19px;
    border-radius: 0px;
    font-weight: 600;
}
.w-100{
    height: 70px;
    background-color: rgb(240, 231, 64);
}
.welcome-text{
    /* max-width: 800px; */
    min-height: 80vh;
    border-radius: 10px;
}
.welcome-text img{
    width: 100px;
}
.bin{
    margin-top: 3px;
}
.welcome-text h4{
    color: #eee;
    font-size: 51px;
    font-family: 'Lobster', cursive;
}

.welcome-text p{
    background: rgba(255, 255, 255, 0.5);    
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}
h6{
    text-decoration: none;
    color: black;
}

#about{
    min-height: 100vh;
}

#about .card-1{
    max-width: 600px;
    width: 90%;
    background: rgba(255, 255, 255, 0.5);    
    padding: 20px;
    border-radius: 5px;

}
#about .card-1 h5{
    font-family: 'Lobster', cursive;
    font-size: 35px;
   
}
#contact {
    min-height: 100vh;
}
#contact form{
    max-width: 600px;
    width: 90%;
    background: rgba(255, 255, 255, 0.5);    
    padding: 20px;
    border-radius: 5px;
}

#contact form h3{
    font-family: 'Lobster', cursive;
    text-align: center;


}

textarea{
    resize: none;
}

.login{
    max-width: 500px;
    width: 90%;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;   
}

.login h3{
    text-align: center;
    font-size: 50px;
}

#n-table{
    max-width: 800px;
}

.form-w{
    max-width: 600px;
    width: 100%;

}

.sidenav {
    width: 290px;
    height: 700px;
    border: 1px solid grey;
    background-color: white;
}
.teach-bdy{
    /* width: 1300px; */
    height: 700px;
    border: 1px solid grey;
    background-color: white;
    padding: 0px 0px;
}
.tech-btn{
    width: 100%;
    color: royalblue;
    border-radius: 0px;
    font-size: 19px;
    font-weight:600;
    position: relative;
}
.tech{
    width: 280px;
    height: 40px;
    margin: 2px 0px;


}

.table-primary{
    width: 950px;
}
.user{
    width: 150px;
    height: 170px;
    margin-top: 40px ;
    margin-left: 20px;
    text-align: center;
}

.holder{
    height: 250px;
    margin-left: 30vw;
}
.tech:hover{
    background-color: azure;
}

.tech-btn:focus-within .tech-hld{
    display: block;
}
.tech-btn:hover{
    color: white;
    background-color: royalblue;
}
.tech-hld{
    background-color: white;
    color: royalblue;
    display: none;
    height: 90px;
    width: 280px;
    right: 0px;
    position: absolute;


}
.card{
    width: 20px;
}
.add-frm{
    margin: 10px 10px;
}

.tech-list{
    margin-left: 100px;
}